/* -------------------- */
/* ----- CSS File ----- */
/* -------------------- */



body {
    background-color: rgb(244, 239, 232);
}

nav {
    text-align: center;
    background-color: blanchedalmond;
}

h2,
h3 {
    text-align: center;
}

p {
    text-align: center;
}


/* Class Selectors */

.outline {
    border: 2px solid black;
    border-radius: 5px;
    margin: 2%;
}

.intro {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.start-button {
    /* align-self: center; */
    min-width: 120px;
}

.card {
    background-color: white;
}

.card-question {
    background-color: blueviolet;
    color: white;
}

